.card--organizer{
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
width: 90vw;

}
.card--organizer>*{
flex: 1 1 450px;

}
.topic--categories{
margin: 5px;
background-color:#3A3A3C  ;
border-radius: 10px;
}
.img{
height: 60px;
width: 60px;
}