.CategoriesList--container{
background-color:#3A3A3C ;
display: flex;
flex-direction: row;
margin: 15px;
padding: 10px;
border-radius: 8px;
text-align: center;

}
.inputs{
    display:flex;
    text-align: center;
}
.room{
display: flex;
flex-direction: column;
vertical-align: top;
}
.topic--categories{
padding: 5px;
align-self: center;
}

.input-student{
    vertical-align: top;
    text-align: left;
    margin:10px;
    
    
}

.volunteer{
    vertical-align: top;
    display: flex;
    flex-direction: column;
    padding-top:11px;
}

