.CategoriesList--container{
display: flex;
flex-direction: row;
margin: 15px;
padding: 10px;
border-radius: 8px;
text-align: center;
justify-content: space-evenly;
}
.inputs{
    display:flex;
    text-align: center;
}
.room{
display: flex;
flex-direction: column;
vertical-align: top;
}
.topic--categories{
justify-content: space-between;
padding: 5px;
}

.input-student{
    vertical-align: top;
    text-align: left;
    margin:10px;
    
    
}

.volunteer{
    vertical-align: top;
    display: flex;
    flex-direction: column;
    padding-top:11px;
}

.deleteButton{
background-color: #3A3A3C;
color: antiquewhite;
border-color: grey;
border-radius: 15px;
}
