.Container-card{
    display: flex;
    margin: 5px;
    padding: 5px;
    background-color:#3A3A3C;
    height: 130px ;
}


.Announcement-card{
    font-size:10px;
    background-color: #FFAB01;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    width: 100px ;
    }
